html, body {
    height: 100%; /* Ensure html and body take up the entire viewport height */
    margin: 0;
}

body {
    background-color: #000000;
    overflow-x: hidden;
}

.homepage {
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      //background-color: #161B22; /* Set the same background color as the body */
      //color: #040404;

      padding: 25px 50px; /* Match the padding of the main content */

      .left-section {
        display: flex;
        align-items: center;

        .logo {
            /* Ensure the text color remains white */
            color: #fff;
            font-size: 1.2rem;
            font-weight: bold;
          }
      }

      .middle-section {
        display: flex;

        a {
          color: #fff;
          text-decoration: none;
          margin-right: 20px;
        }
      }

      .right-section {
        button.login-button {
          border: none;
          background-color: #fff;
          color: #333;
          padding: 10px 20px;
          border-radius: 20px;
          cursor: pointer;

          &:hover {
            background-color: #ddd;
          }
        }
      }
    }
    .main-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        //background-color: #161B22;
        color: #fff;
        width: 100%;
      }
      .main-content {
        width: 55%;
      }
      .image-section {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        width: 95%; /* Take up 40% of the main-section */
      }
      .centered-image {
        max-width: 100%; /* Ensure the image does not exceed its container */
        max-height: 100%; /* Ensure the image does not exceed its container */
        width: auto; /* Allow the image to resize based on its aspect ratio */
        height: auto; /* Allow the image to resize based on its aspect ratio */
        box-shadow: 0 0 20px rgba(14, 122, 199, 0.5); /* Soft glow effect */
      }

      .login-button-medium {
        margin-top: 20px; /* Adjust margin as needed */
        padding: 12px 24px; /* Adjust padding as needed */
        font-size: 18px; /* Adjust font size as needed */
        font-weight: bold;
        color: #fff;
        background-color: #0e7ac7;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    
        &:hover {
            background-color: #095f91; /* Adjusted hover background color */
            box-shadow: 0 0 10px rgba(9, 95, 145, 0.5); /* Glow effect on hover */
        }
      }

      h1, p {
        font-size:48px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .subtext {
        font-size: 16px;
        font-weight: 500;
        width: 80%; /* Set a specific width for the subtext */
        margin-top: 10px;
      }
      .typing-animation {
        position: relative;
      }
      .typed-text {
        display: inline-block;
        font-weight: bold;
        font-size: 48px;
        font-weight: bold;
        color: #0e7ac7;
      }
      .with-career-pilot {
        margin-top: 16px;
      }
      .typed-cursor {
        font-size: 48px;
        opacity: 1;
        animation: typedjsBlink 0.7s infinite;
        -webkit-animation: typedjsBlink 0.7s infinite;
        animation: typedjsBlink 0.7s infinite;
      }
      .new-section-track, .new-section-monitor {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 120px 50px; /* Match the padding of the main content */
        //background-color: #161B22; /* Same background color as main section */
        color: #fff;
        .green-bg {
            background-color: #4CAF50; /* Change this color to your desired background color */
            transition: background-color 0.5s ease; /* Optional: Add transition for smooth color change */
        }

        .new-content {
          width: 55%; 
        }

        .new-image {
          width: 40%; 
        }

        h2 {
          font-size: 20px;
          font-weight: 900;
          margin-bottom: 10px;
        }

        .sub-header {
          font-size: 22px; /* Adjust font size for small header */
          font-weight: 600; /* Add font weight if necessary */
          margin-bottom: 4px; /* Adjust margin as needed */
        }

        .subtext {
          font-size: 36px; /* Adjust font size for larger text */
          font-weight: bold; /* Add font weight if necessary */
          margin-bottom: 4px;
        }
      }
      .faq-section {
        text-align: center;
        color: #fff;
        font-family: 'Manrope', sans-serif;
        margin-top: 50vh;
        transform: translateY(-50%);
        
        h2 {
          font-size: 20px;
          margin-bottom: 4px;
        }
      
        h1 {
          font-size: 36px;
          font-weight: bold;
          margin-bottom: 10px;
          margin-top: 4px;
        }
      
        p {
            font-size: 18px;
            font-weight: 500;
            max-width: 600px; /* Adjust maximum width as needed */
            margin: 0 auto 20px; /* Center the paragraph */
          }
      }
    }
