.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

.skill-form > * {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.skill-form input[type="text"],
.skill-form textarea,
.skill-form select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.skill-form button {
    padding: 10px 15px;
    border: none;
    background-color: #2769b4;
    color: white;
    cursor: pointer;
}

.skill-form button:hover {
    background-color: #19486a;
}

.modal-content button.create-db {
    margin: 1rem auto;
    padding: 10px 15px;
    background-color: rgba(255, 0, 0, 0.808);
    width: 100%;
    text-align: center;
  }