.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
  border-top: 1px solid #cccccc30; /* Light grey line on top */
  position: relative;

  .left-section {
    width: 30%;
    color: white;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start;

    h3 {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
      margin-bottom: 10px;
      font-weight: 600;
    }

    .get-started-button {
      display: block; /* Change display to block to force the button to a new line */
      background-color: grey;
      color: white;
      border: none;
      padding: 5px 10px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .left-section, .middle-section, .right-section {
    width: 30%;
    color: white;

    p {
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 600px;
    }

    .get-started-button {
      background-color: #0e7ac7;
      color: white;
      border: none;
      padding: 5px 10px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        font-size: 16px;
        margin-bottom: 2px;
        font-weight: 600;
        cursor: pointer;
        padding: 8px;
      }
    }

    .social-icons {
      display: flex;

      .icon {
        font-size: 16px;
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }

  .copyright {
    width: 100%;
    font-size: 10px; /* Adjust font size for smaller text */
    color: white;
    text-align: center;
    position: absolute; /* Use absolute positioning */
    bottom: 0; /* Align the text to the bottom */
    padding: 20px 0; /* Add padding to create space */
    margin-top: 20px;
  }

  .copyright p {
    font-size: 14px;
    font-weight: 400;
    margin: 20px;
  }
}
