.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../../../images/BackgroundLogin.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 20px;
  }
  

  .form-box {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
    width: 400px; /* Adjust as needed */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .welcome-text, .signup-text, .contact-text {
    color: #2769b4;
    margin-bottom: 20px;
    z-index: 2;
    text-align: center;
  }
  
  .form-input {
    width: 100%; /* Adjust width to match form width */
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .login-button {
    width: 100%;
    padding: 12px;
    background-color: #2769b4;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 16px;
  }

.signup-link {
    background: none;  /* Removes the button background */
    border: none;      /* Removes the button border */
    padding: 0;        /* Removes padding */
    font-size: 16px;   /* Adjust the font size as necessary */
    cursor: pointer;   /* Ensures the cursor changes to pointer on hover */
    text-decoration: underline;  /* Underline to mimic hyperlink */
}

.signup-link:hover {
    text-decoration: none;  /* Optional: removes the underline on hover to mimic hyperlink behavior */
    background: none;
}

  

